body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(237, 236, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 
 footer {
   
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: #000000;
    color: red;
    text-align: center;
    padding: 10px;
   
 }
 
 
 button {
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: red;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
 }
 
 button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, red, red, red, red, red, red, red);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
 }
 
 @keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
 }
 h1 {
    text-align: center;
    margin: 2rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(226, 18, 18);
 }
 
 .board-game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    margin-top: 20px;
 }
 
 .card {
    width: 100px;
    height: 100px;
    background: url(./img/back.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    font-weight: bold;
    cursor: pointer;
 }
 
  .card.flipped {
     background-size: cover; 
 }
  
  .card[data-image="1"].flipped {
     background-image: url(./img/1.png);
  }
  
  .card[data-image="2"].flipped {
     background-image: url(./img/2.png);
  }
  
  .card[data-image="3"].flipped {
     background-image: url(./img/3.png);
  }
  
  .card[data-image="4"].flipped {
     background-image: url(./img/4.png);
  }
  
  .card[data-image="5"].flipped {
     background-image: url(./img/5.png);
  }
  
  .card[data-image="6"].flipped {
     background-image: url(./img/6.png);
  }
  
  .card[data-image="77"].flipped {
     background-image: url(./img/77.png);
  }
  
  .card[data-image="8"].flipped {
     background-image: url(./img/8.png);
  }
 
  .card[data-image="9"].flipped {
     background-image: url(./img/9.png);
  }
 
  .card[data-image="10"].flipped {
     background-image: url(./img/10.png);
  }
 
  .btn {
     margin-top: 20px;
  }
  